.btn {
  text-decoration: none;
  background-color: darkgray;
  border-radius: .5rem; }
  .btn__p {
    color: orange; }
    .btn__p:hover {
      transform: scale(5), translateY(1rem);
      box-shadow: .5rem 1rem; }

html {
  margin-right: .5rem;
  margin-left: .5rem;
  font-size: 10px; }

.header {
  z-index: 2;
  height: 55vh;
  background-image: linear-gradient(to bottom right, rgba(63, 146, 191, 0.6), rgba(63, 191, 178, 0.6)), url(../Img/osman-rana-267042-unsplash.jpg);
  background-size: cover;
  background-position: top;
  padding: 10px 15px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%); }
  .header__title {
    color: #728c89;
    text-align: center;
    font-weight: 60rem;
    letter-spacing: .2rem;
    text-transform: uppercase; }
  .header__subtitle {
    font-size: 2rem;
    text-transform: uppercase; }

.about {
  height: 45vh;
  z-index: 1;
  background-image: linear-gradient(to right bottom, #c4c4c4, #a6a6a6);
  padding: 80px 15px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
  transform: translateY(-80px); }
  .about__left {
    float: left;
    width: 50%;
    padding-right: 2rem; }
    .about__lefttitle {
      text-transform: uppercase; }
  .about__right {
    float: left;
    width: 50%; }
    .about__right-gallery .about__image {
      height: 4rem;
      border: solid black .15rem;
      padding: .35rem;
      border-radius: .5rem; }
      .about__right-gallery .about__image:hover {
        transform: rotate(180deg); }
