.btn {
  text-decoration: none;
  background-color: darkslategray;
  border-radius: .5rem; }
  .btn__p {
    color: orange; }
    .btn__p:hover {
      transform: scale(5), translateY(1rem);
      box-shadow: .5rem 1rem; }

p {
  font-size: 1.2rem; }

.footer-icons {
  width: 2rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: center; }

.header__content {
  display: flex;
  flex-direction: column; }

.header__gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem; }

.subtitle__content {
  display: flex; }

.tech-skills {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .tech-skills__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem; }
  .tech-skills__paragraph {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tech-skills__paragraph-p {
      font-size: 1.9rem;
      text-align: center;
      width: 90rem;
      font-weight: 200; }
      .tech-skills__paragraph-p span {
        border: solid 2px darkslategrey;
        padding: .1rem .3rem;
        border-radius: 8px;
        font-weight: 500; }
        .tech-skills__paragraph-p span:hover {
          background-color: whitesmoke;
          cursor: pointer; }
  .tech-skills__gallery-section {
    height: 100rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center; }
    .tech-skills__gallery-section-container {
      max-width: 110rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
    .tech-skills__gallery-section-box {
      width: 25rem;
      height: 25rem;
      background-color: lightgrey;
      margin: 1rem;
      margin-bottom: 0px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all .3s; }
      .tech-skills__gallery-section-box:hover {
        box-shadow: .5rem .5rem .5rem gray;
        transform: translate(-1rem, -1rem); }
      .tech-skills__gallery-section-box img {
        width: 8rem;
        height: 8rem;
        margin-bottom: 3rem; }
      .tech-skills__gallery-section-box h3 {
        display: block;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem; }

.projects {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .projects__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem; }
  .projects__paragraph {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .projects__paragraph-p {
      font-size: 1.9rem;
      text-align: center;
      width: 90rem;
      font-weight: 200; }
  .projects__pic {
    width: 40rem;
    height: 21rem;
    border-radius: 8px;
    position: relative;
    transition: all .2s; }
    .projects__pic:hover h3 {
      opacity: 1; }
    .projects__pic h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: darkslategray;
      text-align: center;
      opacity: 0;
      color: whitesmoke;
      font-size: 2.5rem;
      padding: 1rem;
      border-radius: 8px; }
    .projects__pic img {
      width: 40rem;
      height: 21rem;
      border-radius: 8px;
      border: solid 3px whitesmoke;
      transition: all .5s; }
      .projects__pic img:hover {
        opacity: .2;
        border-color: darkslategray; }
    .projects__pic-title {
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .projects__pic-title p {
        font-size: 2rem;
        text-transform: uppercase;
        margin-left: 2rem;
        font-weight: 600; }
  .projects__skills {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .projects__skills button {
      width: 9rem;
      height: 4rem;
      text-transform: uppercase;
      font-size: 1.2rem;
      border: solid 2px lightseagreen;
      border-radius: 6px;
      background-color: transparent; }
  .projects__gallery-section {
    height: 40rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center; }
    .projects__gallery-section-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
    .projects__gallery-section-box {
      overflow: hidden;
      width: 40rem;
      height: 31rem;
      margin: 1rem;
      margin-bottom: 0px;
      border-radius: 8px; }

.footer {
  display: flex;
  justify-content: center; }
  .footer__content {
    margin-top: 5rem;
    width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__title {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-weight: 400; }
  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer__contact img {
      width: 5rem; }
    .footer__contact p {
      font-size: 2rem;
      margin-bottom: 3rem; }
  .footer__signature {
    background-image: linear-gradient(to bottom right, rgba(63, 146, 191, 0.6), rgba(63, 191, 178, 0.6)), url(../Img/osman-rana-267042-unsplash.jpg);
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__signature h2 {
      font-size: 3rem;
      color: whitesmoke; }
    .footer__signature img {
      width: 5rem;
      margin-left: 3rem; }
      .footer__signature img:hover {
        animation-name: wavehand;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        cursor: pointer; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 50%;
  height: 100%;
  overflow: auto; }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1rem; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.education {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .education__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem; }
  .education__paragraph {
    height: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .education__paragraph p {
      font-size: 1.9rem;
      text-align: center;
      width: 90rem;
      font-weight: 200;
      margin-top: 6rem; }
    .education__paragraph-p:last-of-type {
      margin-bottom: 2rem;
      font-weight: 500; }
    .education__paragraph img {
      width: 33rem;
      height: 25rem;
      margin-bottom: 10rem;
      padding: 3rem;
      border-radius: 8px;
      transition: all .8s; }
      .education__paragraph img:hover {
        background-color: whitesmoke; }
  .education-container {
    max-width: 110rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-3rem); }
  to {
    opacity: 1; } }

@keyframes slidefromleft {
  from {
    opacity: 0;
    transform: translateX(-3rem); }
  to {
    opacity: 1; } }

@keyframes slidefromright {
  from {
    opacity: 0;
    transform: translatex(3rem); }
  to {
    opacity: 1; } }

@keyframes wavehand {
  0% {
    transform: rotate(-25deg); }
  50% {
    transform: rotate(25deg); }
  100% {
    transform: rotate(-25deg); } }

html {
  font-size: 10px; }

.resume {
  width: 7.8rem;
  height: 8rem;
  background-color: lightgray;
  position: fixed;
  margin-left: 3rem;
  margin-top: 3rem;
  z-index: 16;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s; }
  .resume:hover {
    cursor: pointer;
    transform: translateY(-0.2rem); }
  .resume img {
    width: 6rem;
    height: 6rem; }

.header {
  height: 65vh;
  background-image: linear-gradient(to bottom right, rgba(63, 146, 191, 0.6), rgba(63, 191, 178, 0.6)), url(../Img/osman-rana-267042-unsplash.jpg);
  background-size: cover;
  background-position: top;
  padding: 10px 15px;
  position: relative; }
  .header__title {
    color: whitesmoke;
    text-align: center;
    font-weight: 60rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 5rem;
    text-transform: uppercase;
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    margin-bottom: 3rem; }
  .header .subtitle__content {
    margin-bottom: 3rem; }
  .header__subtitle {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem; }
    .header__subtitle--web {
      animation-name: slidefromleft;
      animation-duration: 2s;
      animation-fill-mode: backwards;
      animation-delay: 2.5s;
      animation-fill-mode: backwards; }
    .header__subtitle--designer {
      animation-name: slidefromright;
      animation-duration: 2s;
      animation-fill-mode: backwards;
      animation-delay: 2.5s;
      animation-fill-mode: backwards; }
    .header__subtitle--blogger {
      animation-name: slidefromleft;
      animation-duration: 2s;
      animation-fill-mode: backwards;
      animation-delay: 2.5s;
      animation-fill-mode: backwards; }
  .header__text {
    text-align: center; }
  .header__gallery {
    text-align: center;
    transition: all 5s;
    display: flex;
    justify-content: space-around; }
    .header__gallery-icons {
      text-align: center;
      height: 3rem;
      width: 3rem;
      margin: 1rem; }
      .header__gallery-icons:hover {
        transform: translateY(-0.4rem);
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222); }

.s-icon {
  border-radius: 50%;
  border: solid 2px whitesmoke;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center; }

hr {
  border: solid 1px whitesmoke;
  width: 80%; }

.whitesmoke {
  color: white; }
